#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=/home/peterjochem/Desktop/catkin_ws/openTurtleBot.sh
Name=LaunchTurtlebot
Comment=Open three windows for Turtlebot development
Icon=/home/peterjochem/Desktop/catkin_ws/images/turtlebot-3.jpg
