<launch>
	
	<include file = "$(find tsim)/launch/turtle_pent.launch"/>
	
	<!-- Load the description of the robot into the server -->
	<rosparam command="load" file="$(find nuturtle_description)/config/diff_params.yaml"/>
	
	<include file = "$(find nuturtle_description)/launch/view_diff_drive.launch">
		 <arg name="use_jsp" value="false"/>
	</include>
	
	
	<!-- launch file above has rviz -->
	<!-- node type="rviz" name="rviz" pkg="rviz" args="-d $(find tsim)/config/rviz.rviz" / -->
	
	<node type="odometer_node" name="odometer_node" pkg="rigid2d" output="screen" />
	
	<node type="fake_diff_encoders_node" name="fake_diff_encoders_node" pkg="rigid2d" />	

</launch>

